*{margin: 0;
}
.container{
  box-sizing: content-box;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}
header{
  background-color: white;
}

.logo-pic{
  height: 50px;
  width: 50px;
  margin: auto;
  vertical-align: middle;
}
.logo-text{
  display: inline;
  font-family: Helvetica;
  font-size: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin: auto;
  vertical-align: middle;
}
main{
  box-sizing: content-box;
  background-color:aliceblue;
  padding-top: 70px;
  padding-bottom: 40px;
}
.banner{
  height: 80px;
  width: 1500px;
  background-color: white;
  margin: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 3px;
}
.finestra{
  height: 900px;
  width: 1500px;
  background-color: white;
  margin: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 40px;
}
.minore{
  line-height: 40px;
}
button{
  line-height: 25px;
  border-radius: 5px;
  margin-top: 30px;

}
#b-task{
  margin-left: 40px;
  background-color: lightblue;
  border: 1px solid lightblue;
  color: white;
}
#b-section{
  border: 1px solid;
  background-color: white;
  border: 1px solid gray;
  color: gray;
}
h3{
  margin-left: 40px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 40px;
}
.triangolo{
  font-size: 20px;
}
p{
  margin-left: 40px;
  font-size: 30px;
  line-height: 50px;
  font-family: Helvetica;
}
.cerchio-v{
  border: 1px solid;
  height: 40px;
  width: 40px;
  color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
  text-align: center;
  line-height: normal;
}
.cerchio-r{
  border: 1px solid;
  height: 40px;
  width: 40px;
  color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
  text-align: center;
  line-height: normal;
}
.bottone-blue{
  color: white;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 6px;
  width: 80px;
}
.bottone-purple{
  color: white;
  background-color: purple;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 6px;
  width: 80px;
}
.bottone-green{
  color: white;
  background-color: green;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 6px;
  width: 80px;
}
.bottone-orange{
  color: white;
  background-color: orange;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 6px;
  width: 80px;
}
.bottone-pink{
  color: white;
  background-color: pink;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  padding: 6px;
  width: 80px;
}
.task{
  margin-bottom: 60px;
}
.today{
  margin-bottom: 60px;
}
.up{
  margin-bottom: 80px;
}