*{margin: 0;
}
.container{
  box-sizing: content-box;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.logo-pic{
  height: 50px;
  width: 50px;
  margin: auto;
  vertical-align: middle;
}
.logo-text{
  display: inline;
  font-family: Helvetica;
  font-size: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin: auto;
  vertical-align: middle;
}
main{
  box-sizing: content-box;
  background-color:aliceblue;
  padding-top: 70px;
}
.banner{
  height: 80px;
  width: 1500px;
  background-color: white;
  margin: auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 3px;
}
.finestra{
  height: 700px;
  width: 1500px;
  background-color: white;
  margin: auto;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.minore{
  line-height: 40px;
}
button{
  line-height: 25px;
  border-radius: 5px;
  margin-top: 30px;

}
#b-task{
  margin-left: 40px;
  background-color: lightblue;
  border: lightblue;
  border: 1px solid;
}
#b-section{
  border: gray;
  border: 1px solid;

}